*{
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}

ul{
    padding-inline-start: 0px;
}
li{
    list-style: none;
}
html {
    scroll-behavior: smooth;
}

body{
    font-family: Poppins;
}

#header{
    width: 100vw;
    height: 120px;
    position: fixed;
    background-image: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    z-index: 6;
    transition:height 0.6s, opacity 1s;
}

.logo{
    display: flex;
    position: relative;
    width: fit-content;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo img{
    width: 28px;
}

.logo p{
    padding-left: 20px;
    font-size: 20px;
}

.nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.nav li{
    padding-left: 10px;
    justify-content: center;
}

.nav li a{
    display: block;
    padding: 10px;
    font-size: 16px;
}

.underline{
    position: relative;
}

.underline::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #967BFF;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  @media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
  }

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(1, 0, 20, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("./images/back.jpg");
    background-size: 2048px;
    background-repeat: no-repeat;
}
.home div{
    position: relative;
    margin-top: 120px;
}

.left-side{
    display: flex;
    width: 40%;
    height: 100%;
    position: absolute;
    align-items: center;
    border-right: 1px rgba(255,255,255, 0.3) solid;
    justify-content: center;   
}

.left-side img{
    display: flex;
    max-width: 150px;
    margin-top: -60px;
    border-radius: 176px;    
    box-shadow: 0px 4px 78px 23px rgba(0, 0, 0, 0.51);
    margin-bottom: 120px; 
}

.right-side{
    display: flex;
    width: 60%;
    height: 70%;
}

.right-side div{
    display: flex;
    align-items: center;
}

.right-side .title{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
}

.right-side .title p{
    width: 80%;
    text-align: center;
    color: white;
    font-size: 24px;
    line-height: 40px;
}
.title #nome{
    margin-bottom: 30px;
}

.title #uni{
    text-transform: uppercase; 
    font-size: 20px; 
    font-weight: 200;
}

.title #campus{
    font-size: 20px; 
    font-weight: 200;
    font-style: italic; 
}

.title p span{
    font-weight: 100;
}


.right-side .title span{
    width: 90%;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 30px;
    font-weight: 200;
}

@media only screen and (min-width: 1000px){
    #header{
        justify-content: space-between;
    }

    .logo{
        margin-left: 65px;
    }

    .logo img{
        width: 44px;
    }

    .logo p{
        font-size: 24px;
    }

    .nav{
        margin-right: 65px;
        width: fit-content;
    }

    .nav li a{
        font-size: 18px;
    }

    .left-side{
        width: 696px;
    }

    .left-side img{
        margin-top: -160px;
        max-width: 250px;
    }

    .right-side{
        width: 100%;
    }

    .right-side .title p{
        font-size: 36px;
    }

    .title #nome{
        margin-bottom: 30px;
    }
    
    .title #uni{
        text-transform: uppercase; 
        font-size: 28px; 
        font-weight: 100;
    }
    
    .title #campus{
        text-transform: lowercase; 
        font-size: 28px; 
        font-weight: 100;
    }

    .right-side .title span{
        font-size: 28px;
        padding-top: 60px;        
    }

    .ball{
        width: 500px; 
        height: 500px; 
        background-color: rgba(84,144,63,0.1); 
        border-radius: 300px; 
        position: absolute; 
        margin-top: 110px;
        margin-left: 400px;
        overflow: hidden;
        z-index: 1;
    }
}

@media only screen and (min-width: 1500px){
    
    .left-side img{
        display: flex;
        max-width: 400px;
        margin-top: -60px;
        border-radius: 300px;    
        box-shadow: 0px 4px 78px 23px rgba(0, 0, 0, 0.51);
        margin-bottom: 120px; 
    }
    
    .title{
        margin: 0 auto;
    }

    .title #nome{
        margin-bottom: 30px;
        font-size: 50px;
    }
    
    .title #uni{
        text-transform: uppercase; 
        font-size: 32px; 
        font-weight: 100;
    }
    
    .title #campus{
        text-transform: lowercase; 
        font-size: 32px; 
        font-weight: 100;
    }

    .right-side .title span{
        font-size: 36px;
        padding-top: 60px;        
    }

}

/*------- Second Page ---------*/


.about{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.white{
    display: flex;
    width: 99.8%;
    height: 40%;
    background-image: linear-gradient(#05051c, #010113);
    border-right: 1px rgb(255, 255, 255, 0.3) solid;
    z-index: 2;
}

.white img{
    display: flex;
    z-index: 1;
    max-width: 100%;
    height: auto;
}

.text{
    display: flex;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(#05051c, #010113);
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;

}

.text h2{
    margin-top: 30px;
    display: flex;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    justify-content: center;
    font-size: 25pt;
}

.text p{
    display: block;
    color:  white;
    font-size: 100%;
    text-align: left;
    padding: 0 50px;
    margin-left: 20px;
    font-weight: 300;
}

.soft-skills{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( #04052C,#03020C);
    border-top: 1px rgba(255,255,255, 0.3) solid;

}

.soft-skills img{
    width: 64px;
}

.wrap{  
    display: flex;
    margin: 10px;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    background-color: #070844;
    box-shadow: 0 12px 12px -6px black;
    border-radius: 8px;
    flex-wrap: nowrap;
    
}

.wrap .skill{
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 140px;
    align-items: center;
    background-color: #170725;
    border-radius: 8px;
    justify-content: center;

}

.skill p{
    display: flex;
    color: white;
    text-align: center;
    align-items: flex-end;
    font-weight: 200;
    
}

@media only screen and (min-width: 1000px){
    .about{
        flex-direction: row;
    } 

    .white{        
        width: 696px;
        height: 100%;
    }

    .white img{
        margin-left: 60px;
    }

    .text{
        height: auto;
    }

    .text h2{
        margin-top: 120px;
        padding-bottom: 40px;
    }

    .text p{
        font-size: 140%;
        padding: 0 100px;
    }

    .soft-skills{
        padding-top: 50px;
        width: 100%;
        height: 180px;
        z-index: 3;
    }

    .wrap{  
        width: 160px;
        height: 160px;
        margin: 0 0 0 65;
    }

    .wrap .skill{
        width: 140px;
        height: 140px;
    }

    .skill p{
        margin-top: 10px;
    }

    

}

@media only screen and (min-width: 1500px){
    .about{
        flex-direction: row;
    } 

    .white{        
        width: 696px;
        height: 100%;
    }

    .white img{
        margin-left: 60px;
        max-width: 150%;
    }

    .text{
        height: auto;
    }

    .text h2{
        font-size: 220%;
        margin-top: 120px;
        padding-bottom: 40px;
    }

    .text p{
        font-size: 190%;
        margin-left: 100px;
        width: 50%;
    }

    .soft-skills{
        padding-top: 50px;
        width: 100%;
        height: 180px;
        z-index: 3;
    }

    .wrap{  
        width: 160px;
        height: 160px;
        margin: 0 0 0 65;
    }

    .wrap .skill{
        width: 140px;
        height: 140px;
    }

    .skill p{
        margin-top: 10px;
    }

    

}

/*----- Third Page -----*/

.projects{

    width: 100%;
    padding-top: 100px;
    background-image: linear-gradient(rgb(3, 2, 12), rgb(38, 56, 139));
}

.projects h1{
    text-align: center;
    color: white;   
    margin-bottom: 30px;
    font-size: 25pt;
}

.projs{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 130px);
    margin: 0 auto;
    justify-content: center;
}

.proj{
    display: flex;
    flex-direction: column;
    width: 343px;
    height: 250px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 13px 14px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    margin-bottom: 20px;
    padding-left: 32px;
    padding-top: 22px;
    padding-right: 32px;

}
.proj:hover .proj-btn{
    opacity: 1;
    transition: opacity 0.1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.proj-wrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
}

.proj::before{
    content: '';
    width: 75%;
    height: 5px;
    background-color: blue;
    border-radius: 5px;
}

.proj-wrapper{
    position: relative;
    height: 100%;
}

.proj-name{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.proj-txt{
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.proj p {
    font-size: 14px;
}

.proj-technologies{
    display: flex;
    height: 100%;
    margin-top: 10px;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
    flex-wrap: wrap;
    
}

.proj-technology{
    background-color: rgba(0, 129, 228, 0.1);
    border: 1px solid rgba(0, 129, 228, 0.2);
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
}
.proj-technology p{
    font-size: 10px;
    color: rgba(0, 129, 228, 1);
}

.proj .proj-print{
    width: 100%;
    height: 225px;
}

.proj-btn{
    display: flex;
    opacity: 0;
    position: absolute;
    background-color: #FFFF;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 10px;
    top: 60%;
    left: 80%;
}

.proj-btn a{
    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    
}

.proj-btn img{
    width: 24px;
}

.proj-btn:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
    transition: box-shadow 0.7s ease-out;
}

@media only screen and (min-width: 1000px){
    .proj{
        margin-right: 20px;
        height: 20vh;
    }
}

/*----- Fourth Page ------*/

.footer{
    background-image: linear-gradient(rgb(38, 56, 139), rgb(15, 12, 46) );
    height: fit-content;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.11);
    position: absolute;
    left: -10px;
}

.contactTitle{
    font-weight: bold;
    font-size: 25pt;
    color: white;
    margin-top: 25px;
    text-align: center;
}
.contacts{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact{
    width: 350px;
    height: 20px;
    background-color: white;
    margin-bottom: 20px;
    padding: 30px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: box-shadow 0.7s ease;
}

.contact img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.contact a{
    color: black;
}

.contact:hover{
    box-shadow: 0px 6px 6px rgb(255, 73, 73);
}

@media only screen and (min-width: 1000px){
    .contact{
        margin-right: 20px;
    }
}