*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

table{
    table-layout: fixed;
    width: 100%;
}

.header{
    width: 100%;
    height: 80px;
    background-color: #145369;
    display: block;
    position: fixed;
    z-index: 1 ;
}

.inner_header{
    width: 100%;
    height: 100%;
    display: table;
    margin: 0 auto;
    padding-left: 80px;
    position: relative;
    
}

.inner_header h1{
    color: blanchedalmond;
    font-size: 20pt;
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    padding-left: 7%;
    font-family: Josefin Sans;
    font-weight: 200;

}

.inner_header h1 span{
    font-weight: 800;

}

.nav{
    margin-top: 30px;
    margin-right: 15px;
    width: 200%;
    height: 30px;
    float: right;
    font-family: Montserrat;
    text-align: center;
    font-size: 9pt;
    font-weight: 800;
    overflow: hidden;
}

.nav a{
    height: 100%;
    display: table;
    float: left;
    padding-left: 0px;
    padding-right: 20px;
}

.nav a li{
    display: table-cell;
    vertical-align: middle;
    color: white;
}
.nav a li:hover{
    background-color: rgb(219, 186, 186);
    color: black;
    font-weight: bold;
}


@media only screen and (min-width: 1000px){
    .inner_header{
        margin: 0;
        float: right;
    }

    .inner_header h1{
        margin: 0 auto;
        padding-left: 4%;
        padding-top: 10px;
    
    }
    
    .nav{
        margin: -18px auto;
        width: 60%;
        font-size: 14pt;
        height: 100%;
    }
    
    .nav a{
        height: 100%;
        display: table;        
    }
    
    .nav a li{
        line-height: 100%;
        width: 100px;
        padding: 1%;
    }
}


.first-block{
    padding-top: 85px;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #0f3c4c;
}

.inner-block{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: table;
    background-color: #ffffff;
    padding-bottom: 30%;

    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
    background-color: #ffffff;
    border-radius: 0.5rem;
    border-left: 0 solid #00ff99;
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out
}

.image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: calc(75% - 150px);
    margin-top: 20px;
}


.profile-pic {
  display: table-inline;
  margin: 0 auto;
  margin-left: 1.5%;
  height: 100%;
  width: auto;
}

.me h1{
    color: black;
    display: inline-flexbox;
    font-size: 18pt;
    font-family: Josefin Sans;
    margin-top: 20px;
    margin: 10px 20px;
    text-align: center;
}

.me p{
    font-family: Josefin Sans;
    font-size: 16pt;
    font-weight: 200;
    text-align: center;
    margin: 0 auto;
}

.description{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 6%;
    vertical-align: middle;
    line-height: 30px;

    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
    background-color: #ffffff;
    border-radius: 0.5rem;
    border-left: 0 solid #00ff99;
    transition: border-left 1000ms ease-in-out, padding-left 300ms ease-in-out;
    padding-left: 0.5rem;
    border-left: 0.5rem solid #00ff99;
}

.description p{
    font-family: Quicksand;
    font-weight: 800;
    padding-inline: 40px;
    font-size: 12pt;
    text-indent:2em

}
.description span{
    padding-left: 5%;
    font-size: 18pt;
    font-weight: bold;
}

@media only screen and (min-width: 1000px){

    .inner-block{
        width: 95%;
        padding-bottom: 10%;
    }
    
    .image-cropper {
        width: 200px;
        height: 200px;
        margin-left: 20px;
    }

    .me{
        margin-top: -12%;
        margin-left: -24%;  
        display: inline-flexbox;
    }
    
    .description{
        width: 80%;
        height: 55%;
        margin: 8% auto;
    }
    
    .description p{
        font-size: 16pt;
        text-indent:4em
    
    }
}

.title{
    position: relative;
    padding-top: 6%;
    padding-left: 4%;
    font-family: Josefin Sans;
    font-weight: 900;
    font-size: 24pt;
    text-shadow: 2px 4px rgb(163, 134, 245, 0.4);
    
}

.projs{
    margin-top: 3%;
    margin-left: 2%;
    width: 96%;
    height: 100%;
    position: static;
}

.projs table{
    margin-top: 2%;
    margin-left: 2%;
    width: 96%;
    height: 100%;
    position: static;
}

.proj{
    margin-left: 4%;
    width: 100px;
    height: 320px;
    position: relative;
    z-index: 0;

    border-top-left-radius: 50px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    border: solid 3px #6e7491;
    position: relative;
    transition: 1s;

}

.proj p{
    font-family: Quicksand;
    font-weight: bold;
    text-align: center;
    color: #12143a;
}

.name p{
    font-family: Quicksand;
    font-size: 16pt;
    font-weight: bold;
}

.info{
    top: 0px;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.info p{
    margin-top: 10px;
    padding-left: 10px;
    text-align: left;
    color: black;
    font-size: 10pt;
    font-family: Arial;
    font-weight: 200;
}

.info p span{
    font-family: Quicksand;
    color:rgb(3, 8, 78);
    font-size: 12pt;
    font-weight: 500;
}

.proj:hover .info{
    opacity: 1;
    transition: 0.5s;
    background-color: rgb(243, 240, 240);
}

.proj:hover .name{
    opacity: 0;   
}

.proj:hover{
    background-color: rgb(129, 106, 106);
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
    
    border-radius: 0.5rem;
    transition: 0.8s;
}

@media only screen and (min-width: 1000px){
    .title{
        padding-top: 0px;
        font-size: 36pt; 
    }
    
    .proj{
        height: 200px;
        overflow: hidden;
    }
    
    .name p{
        font-size: 24pt;
    }
    
    .info p{
        text-align: justify;
        font-size: 14pt;
    }
    
    .info p span{
        font-size: 14pt;
        font-weight: bolder;
    }
   
}

.tecs{
    margin-top: 3%;
    margin-left: 2%;
    width: 96%;
    height: 100%;
    position: absolute;
}

.wrapper{
    width: 100%;
    position: relative ;
    margin: 0 auto;
    margin-top: 20%;
    display: table;
    overflow: hidden;
}

.wrapper div{
    margin: 0 auto;
    width: calc(100% - 32px);
    height: 100px;
    background-color: rgb(233, 211, 211);
    display: block;
    line-height: 100px;
    text-align: center;

    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
    border: solid 3px #6e7491;
    border-radius: 0.5rem;
}

.wrapper fieldset{
    margin: 0 auto;
    border: 5px solid transparent; 
    border-color: rgb(92, 61, 128); 
    box-sizing: border-box; 
    padding: 20px; 
    width: 90%; 
    margin-bottom: 20px;
}

.wrapper fieldset legend{
    font-size: 16pt;
    font-weight: 800;
    font-family: Quicksand;
    text-shadow: 2px 4px rgba(154, 146, 175, 0.4);
}

.wrapper div h1{
    font-family: Quicksand;
    font-size: 28px;
    font-weight: 900;
    color: #111;
}


.square-tec{
    margin: 16px 16px 0;
    width: 100px;
    height: 100px;
    background-color: black;
    display: table-cell;
    
}

.rect-tec{
    margin: 2px;
    width: 200px;
    height: 100px;
    background-color: black;
}

@media only screen and (min-width: 1000px){    
    .wrapper{
        width: 85%;
        margin-top: 10%;
    }

    .wrapper fieldset{
        width: 600px; 
    }

    .wrapper fieldset legend{
        font-size: 24pt;
    }
    .wrapper div{
        margin: 0 auto;  
        padding: 2px 2px 0;
    }
    .wrapper div h1{
        font-family: Quicksand;
        font-size: 32pt;
        font-weight: 900;
        color: #111;
        height: 100%;
    }
    
    .wrapper .square-tec{
        width: 200px;
        height: 230px;
        float: left;
        margin: 2px 2px 20px 40px;
        
    }

    .wrapper .square-tec h1{
        padding-top: 50px;
    }
    
    .wrapper .rect-tec{
        width: 200px;
        height: 100px;
        margin: 2px 2px 20px 300px;
    }
   
}

.acad{
    margin: 0 auto;
    margin-right: 10px;
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 14pt;
    font-weight: 900;
}
.acad p{
    margin-left: 10px;
    margin-top: 10px;
    line-height: 25px;
}
.acad ul {
    margin-left: 40px;
    line-height: 30px;
    list-style: none;
    line-height: 1.5em;
    margin: 5px 0 15px;
    padding: 0;
}

.acad ul li{
    list-style: none;
  position: relative;
  padding: 0 0 0 20px;
}
.acad ul li::after{
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    top: 10px;
    margin-left: -7px;
    border: 6px solid #0e0c85;
    border-width: 3px 3px 0 0;
    transform: rotate(45deg);
}
.acad p span{
    font-weight: 900;
}

@media only screen and (min-width: 1000px){    
    .acad {
        font-size: 22pt;
    }
    .acad p{
        margin-left: 10%;       
    }

    .acad ul {
        margin-left: 40px;
        line-height: 30px;
        list-style: none;
        margin: 5px 0 15px;
        padding: 10px;
    }
    
    .acad ul li{
        list-style: none;
        position: relative;
        padding: 0 10px 0 20px;
        margin-bottom: 25px;
    }
   
    .acad ul li::after{
        margin-left: 100px;
    }
   
}

.contact{
    margin: 40px 20px 0;
}

.contact table{
    width:100%
}

.contact tr td{
    
    padding-left: 10px;
    float: left;
}
.contact tr td p, a{
    line-height: 40px;
    margin: 0 auto;
    font-family: Quicksand;
    font-weight: 900;
    color: #0e0c85;
}

.contact tr td img{
    width: 40px;
}

footer{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #111;
    margin-top: -50px;
    padding-top: -20px;
    z-index: 2;

    
}

footer p{
    color: white;
    font-family: Montserrat;
    font-size: 10pt;
    text-align: center;
    padding-top: 10px;
}

@media only screen and (min-width: 1000px){    
    .contact{
        margin: 40px 20px 0;
    }
    
    .contact table{
        width:100%
    }
    
    .contact tr td{
        
        padding-left: 10px;
        float: left;
    }
    .contact tr td p, a{
        line-height: 40px;
        margin: 0 auto;
        font-family: Quicksand;
        font-weight: 900;
        color: #0e0c85;
    }
    
    .contact tr td img{
        width: 40px;
    }
    
    footer{
        position: relative;
        width: 100%;
        height: 80px;
        background-color: #111;
        margin-top: -50px;
        padding-top: -20px;
        z-index: 2;
    
        
    }
    
    footer p{
        color: white;
        font-family: Montserrat;
        font-size: 10pt;
        text-align: center;
        padding-top: 10px;
    }
}