@mixin respond-to($breakpoint) {
    @media only screen and (min-width: $breakpoint) {
      @content;
    }
  }

.container{
    position: relative;
    width: 150px;
    height: 140px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    background-color: var(--primary3);

    border-radius: 10px;
    transition: all .5s ease;

    cursor: pointer;

    @include respond-to(768px) {
        width: 180px;
        height: 170px;
    }


    &:hover{
        img,
        p {
            opacity: 1;
            transition: opacity .5s ease;
        }
        box-shadow: var(--primary4) 0px 2px 8px 0px;
    }

    img{
        width: 70px;
        height: auto;
        opacity: .5;
        transition: opacity .5s ease;

        @include respond-to(768px) {
            width: 80px;
        }
    }
    p{
        opacity: .5;
        transition: opacity .5s ease;

        @include respond-to(768px) {
            font-size: 18px;
        }
    }

}